.cards-container {
  column-break-inside: avoid;
}
.cards-container .card {
  display: inline-block;
  overflow: visible;
  height: auto !important;
}

@media only screen and (max-width: 600px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 601px) {
  .cards-container {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}
@media only screen and (min-width: 993px) {
  .cards-container {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
.text-center {
  text-align: center;
}
.container {
  width:100%;
}
.brand-logo
{
  font-family: 'Raleway', sans-serif;
}
.profile-pic{
  height: 40px;
  margin-left: 2%;
  

}
.profile-name{
  margin-left:2%;
  font-size: 24px;
  color: white;
  position: relative;
  bottom:10px;
}
.post-modal{
  padding: 3% !important;
}
.post-pic{
  height:30px;
}
card-title-text{
  position: relative;
  bottom:12px;
}

.card{
  min-width: 98%;
  max-width: 100%;
  margin:2px;
}
.like {
  position: relative;
  top:4px;
}
 #loginpanel{
    margin-top: 10%;
    padding:2%;
  }
.login-card{
  padding:2%;
}
.active-like{
  filter: brightness(200%);
}
.post-time{
  font-size: 12px;
  position: relative;
  bottom: 35px; 
}